@import '@/assets/css/vars.scss';

// about us

.about_us_home {
    padding: 220px 0 105px;
}

// who we are

.who_we_are {
    background-color: #F4F5F5;
    h4 {
        padding: 75px 0 0 80px;
        font-size: 16px;
        line-height: 28px;
        color: $dark-blue;
    }
}

.who_we_are_flex {
    display: flex;
    gap: 33px;
    padding: 0 80px 80px 80px;
}

.who_we_are_descr h3 {
    margin-bottom: 15px;
}

.who_we_are_descr p {
    color: $dark-blue;
}

.who_we_are_img {
    height: 100%;
    width: 100%;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// our process

.our_process {
    padding: 128px 0;
    h2 {
        text-align: center;
        margin-bottom: 48px;
    }
}

.our_process_flex {
    display: flex;
    gap: 32px;
}

.our_process_card {
    padding-top: 52px;
    h6 {
        margin-bottom: 13px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: -55px;
            border: 1px solid $royal-blue;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $royal-blue;
        }
        &:after {
            content: '';
            position: absolute;
            border-bottom: 2px dashed rgba(36, 5, 242, .4);
            width: 224px;
            top: -45px;
            right: 25px;
        }
    }
}

// our mission

.our_mission {
    background-color: #EEF4FA;
    .container {
        padding: 128px 0;
    }
}

// features
.features {
    padding: 128px 0;
    h2 {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 48px;
    }
}

.features_grid {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 32px;
    margin-bottom: 48px;
    .features_card {
        background-color: $grey;
    }
}

// our team

.our_team {
    background-color: $grey;
    padding: 128px 0;
    h2 {
        text-align: center;
        margin-bottom: 48px;
    }
}

.our_team_grid {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    gap: 32px;
}

// responsive 

@media screen and (max-width: 1400px) {
    .our_team_grid {
        grid-template: 1fr 1fr / 1fr 1fr;
    }
    .our_process_flex {
        align-items: center;
        h6::after {
            content: none;
        } 
    }
    .our_process_card {
        justify-self: center;
    }
}

@media screen and (max-width: 1200px) {
    .features_users {
        flex-direction: column;
    }
}

@media screen and (max-width: 1100px) {
    .our_mission_flex {
        flex-wrap: wrap;
        gap: 50px;
    }
    .features_grid {
        grid-template: 1fr / 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    .about_us_home_flex {
        gap: 50px;
    }
    .about_us_home {
        padding: 100px 0 50px;
    }
    .about_us_home_img {
        margin: 0 auto;
    }
    .about_us_home_flex {
        flex-wrap: wrap;
    }
    .who_we_are_flex {
        flex-wrap: wrap;
    };
    .our_process {
        padding: 64px 0;
    }
    .our_process_flex {
        justify-content: center;
        gap: 30px;
    }
    .feature {
        padding: 64px 0;
    }
    .features_users {
        gap: 60px;
    }
    .features_users_logos {
        flex-wrap: wrap;
        gap: 25px;
    }
}

@media screen and (max-width: 800px) {
    .our_process h2 {
        margin-bottom: 20px;
    }
    .our_mission .container {
        padding: 64px 0;
    }
    .our_process_flex {
        flex-wrap: wrap;
    }
    .features {
        padding: 64px 0;
    }
    .features h2 {
        width: 100%;
    }
    .features_grid {
        grid-template: 1fr 1fr / 1fr;
    }
}

@media screen and (max-width: 700px) {
    .our_team_grid {
        grid-template: 1fr 1fr 1fr / 1fr;
    }
}

@media screen and (max-width: 500px) {
    .who_we_are h4 {
        padding: 20px 0;
        text-align: center;
    }
    .who_we_are_flex {
        padding: 20px 20px;
        text-align: center;
    }
}