header {
  position: fixed;
  width: 100%;
  height: 92px;
  background-color: #1C1E53;
  z-index: 100;
}

.header_flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_menu_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.hamburger_menu {
  display: none;
}

#main_menu ul {
  display: flex;
  gap: 12px;
}
#main_menu ul li {
  transition: all 0.2s ease;
}
#main_menu ul li a {
  display: block;
  font-weight: 500;
  line-height: 28px;
  color: white;
  position: relative;
  padding: 10px;
}
#main_menu ul li a:hover {
  color: #FCD980;
}

#header_contact_btn {
  display: block;
  font-weight: 500;
  line-height: 28px;
  color: white;
  padding: 16px 48px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
}
#header_contact_btn:hover {
  background-color: rgba(244, 246, 252, 0.2);
}

.arrow_btn {
  display: block;
  position: relative;
  font-weight: 500;
  line-height: 28px;
  color: white;
}
.arrow_btn::before {
  content: "";
  position: absolute;
  top: 13px;
  right: -41px;
  width: 24px;
  border-top: 2px solid #F4F6FC;
  transition: all 0.2s ease;
}
.arrow_btn:after {
  content: "";
  height: 7px;
  width: 7px;
  transform: rotate(-135deg);
  position: absolute;
  top: 11px;
  right: -41px;
  border-bottom: 2px solid #F4F6FC;
  border-left: 2px solid #F4F6FC;
  transition: all 0.2s ease;
}
.arrow_btn:hover {
  color: #FCD980;
}
.arrow_btn:hover::before, .arrow_btn:hover::after {
  border-color: #FCD980;
  transform: translateX(30px);
}
.arrow_btn:hover::after {
  transform: translateX(30px) rotate(-135deg);
}

#side_block {
  display: block;
  width: 320px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #5474fd;
  padding: 20px;
  height: 100vh;
  z-index: 2000;
  -webkit-transform: translate(-320px);
  -ms-transform: translate(-320px);
  transform: translate(-320px);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#side_block.open {
  -webkit-transform: translate(0px);
  -ms-transform: translate(0px);
  transform: translate(0px);
}

#page_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1500;
}
#page_overlay.open {
  display: block;
}

#mobile_menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.mobile_menu_list li {
  margin-bottom: 20px;
  text-align: center;
}
.mobile_menu_list li a {
  font-size: 22px;
  color: #fff;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: #fff;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  background-color: #fff;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

@media screen and (max-width: 1000px) {
  #main_menu {
    display: none;
  }

  .main_menu_wrap .hamburger_menu {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  #header_contact_btn {
    display: none;
  }
}
.footer_top {
  background-color: #1C1E53;
}

.footer_top_flex {
  padding-top: 99px;
  display: flex;
  color: white;
  gap: 44px;
}

.footer_top_us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 86px;
  width: 50%;
  padding-right: 97px;
}

.footer_top_info {
  padding-right: 61px;
}
.footer_top_info p {
  font-weight: 500;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.8;
}

.footer_top_logo {
  padding-bottom: 16px;
}

.footer_top_contact {
  display: flex;
  padding: 17px 0 16px 37px;
  background-color: #FCD980;
  gap: 30px;
}
.footer_top_contact h6 {
  font-size: 18px;
  line-height: 32px;
  color: #282938;
}
.footer_top_contact a {
  font-weight: 400;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
}

.footer_top_descr {
  width: 50%;
  padding-right: 220px;
}
.footer_top_descr h2 {
  margin-bottom: 12px;
}
.footer_top_descr p {
  line-height: 28px;
  color: #F4F6FC;
  opacity: 0.8;
  margin-bottom: 24px;
}

.sm_list {
  display: flex;
  gap: 27px;
}
.sm_list li:hover {
  color: #FCD980;
}
.sm_list i {
  font-size: 20px;
}

.footer_bottom_flex {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
}

.footer_bottom_copy h6 {
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}

.footer_bottom_menu {
  display: flex;
  gap: 32px;
}

@media screen and (max-width: 1200px) {
  .footer_top_us {
    padding: 0px;
  }

  .footer_top_info {
    padding: 0px;
  }

  .footer_top_descr {
    padding: 0px;
  }

  .footer_top_contact {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .footer_top_descr {
    align-self: center;
  }
}
@media screen and (max-width: 900px) {
  .footer_bottom_flex {
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (max-width: 800px) {
  .footer_top_flex {
    padding-top: 50px;
    flex-wrap: wrap;
  }

  .footer_top_us {
    width: 100%;
    gap: 30px;
  }

  .footer_top_descr {
    width: 100%;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 600px) {
  .footer_bottom_flex {
    flex-direction: column;
  }

  .footer_bottom_menu {
    flex-wrap: wrap;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: "Poppins", "Manrope", sans-serif;
  color: #282938;
  font-size: 1rem;
  line-height: 1.5rem;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.text_container {
  width: 90%;
  max-width: 842px;
  margin: 0 auto;
}

a, button {
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

p {
  opacity: 0.7;
  line-height: 28px;
}

h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
}

h4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 56px;
}

h5 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.blog_home {
  padding: 220px 0 18px;
}

.blog_home_main_text h2 {
  text-align: center;
  padding: 0 155px;
  margin-bottom: 15px;
}
.blog_home_main_text p {
  text-align: center;
  opacity: 1;
  margin-bottom: 32px;
}
.blog_home_main_text p .blog_home_author_name {
  margin-right: 15px;
}

.blog_home_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 45px;
}
.blog_home_img img {
  width: 100%;
  height: 100%;
}

.blog_text h3, .blog_text p, .blog_text ul, .blog_text div {
  margin-bottom: 32px;
}
.blog_text ul {
  list-style: disc;
  padding-left: 32px;
}
.blog_text ul li {
  margin-bottom: 12px;
}
.blog_text ul li:last-of-type {
  margin-bottom: 0px;
}

.blog_text_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog_text_img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .blog_home {
    padding: 120px 0px 0px;
  }

  .blog_home_main_text h2 {
    padding: 0px;
  }
}