// benefits
// reused from the about_us

.features {
    padding: 84px 0;
    h2 {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 48px;
    }
}

.features_users {
    display: flex;
    gap: 89px;
    align-items: center;
    margin-bottom: 96px;
}

.features_users_numbers h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $dark-blue;
    opacity: 0.7;
}

.features_users_logos {
    display: flex;
    gap: 70px;
    img {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
}

.features_grid {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 32px;
    margin-bottom: 48px;
    .features_card {
        background-color: $grey;
        padding: 48px 32px 42px 48px;
        img {
            padding-bottom: 25px;
        }
        h6 {
            padding-bottom: 12px;
        }
        p {
            line-height: 28px;
            color: rgba(40, 41, 56, 0.7)
        }
    }
}

// our mission


.our_mission {
    padding: 128px 0;
}

.our_mission_no_ptop {
    padding-bottom: 128px;
}

.our_mission_flex {
    display: flex;
    gap: 70px;
}

.our_mission_descr {
    padding-top: 40px;
    h4 {
        font-size: 18px;
        line-height: 32px;
        color: $dark-blue;
        margin-bottom: 22px;
    }
    h3 {
        margin-bottom: 30px;
    }
}

.our_mission_img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    img {
        height: 100%;
        width: 100%;
    }
}

.our_mission_grey {
    background-color: $grey;
}

.our_mission_yellow {
    background-color: $light-yellow;
}

// faqs
// taken from index.html

.faqs {
    padding: 128px 0;
}

.faqs_flex {
    display: flex;
    gap: 95px;
}

.faqs_descr {
    h3 {
        color: $dark-blue;
        margin-bottom: 16px;
    }
    a {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: $royal-blue;
        opacity: 0.8;
    }
}

.faqs_number {
    margin-right: 56px;
}

.faqs_text {
    padding-left: 59px;
}

.faqs_accord {

    .faqs_heading {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $dark-blue;
    }
    .faqs_number {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $royal-blue;
    }
    p {
        padding-left: 63px;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: $dark-blue;
        opacity: 0.8;
    }
}

// footer
// imported

// responsive 



@media screen and (max-width: 1100px) {
    .features_grid {
        grid-template: 1fr / 1fr 1fr;
    }
    .our_mission {
        padding: 64px 0;
    }
    .our_mission_flex {
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .hero_text {
        width: 100%;
    }
    .hero_img {
        display: none;
    }
    .features {
        padding: 64px 0;
    }
    .faqs {
        padding: 60px 0;
    }
    .faqs_flex {
        flex-wrap: wrap;
        gap: 45px;
    }
}

@media screen and (max-width: 800px) {
    .features h2 {
        width: 100%;
    }
    .features_grid {
        grid-template: 1fr 1fr / 1fr;
    }
    .our_mission .container {
        padding: 64px 0;
    }
}