// main
// privacy head text

.privacy {
	padding-top: 220px;
	padding-bottom: 128px;
}

.privacy_head_text {
	width: 40%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 64px;
	h2 {
		margin-bottom: 20px;
	}
}

.privacy_main_text {
	h3, p, ul{
		margin-bottom: 32px;
	}
	ul {
		list-style: disc;
		padding-left: 32px;
		li {
			margin-bottom: 12px;
			&:last-of-type {
				margin-bottom: 0px;
			}
		}
	}
}

// responsive

@media screen and (max-width: 1200px) {
	.privacy {
		padding: 128px 0 64px;
	}
	.privacy_head_text {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	h3 {
		text-align: center;
	}
}