@use '../header';
@use '../footer';

// color vars

$royal-blue: #2405F2;
$dark-blue: #282938;
$grey: #F4F6FC;
$yellow: #FCD980;
$tint-blue: #1C1E53;
$accent: #EEF4FA;
$light-yellow: rgba(252, 217, 128, 0.1);

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Poppins', 'Manrope', sans-serif;
    color: $dark-blue;
    font-size: 1rem;
    line-height: 1.5rem;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.text_container {
    width: 100%;
    max-width: 842px;
    margin: 0 auto;
}

a, button {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    list-style: none;
}

p {
    opacity: 0.7;
    line-height: 28px;
}

// general custom styles

h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
}

h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

h3 {
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
}

h4 {
    font-weight: 500;
    font-size: 36px;
    line-height: 56px;
}

h5 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

// header
// imported

// main
// privacy head text

.privacy {
    padding-top: 220px;
    padding-bottom: 128px;
}

.privacy_head_text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 64px;
    h2 {
        margin-bottom: 20px;
    }
}

.privacy_main_text {
    h3, p, ul{
        margin-bottom: 32px;
    }
    ul {
        list-style: disc;
        padding-left: 32px;
        li {
            margin-bottom: 12px;
            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }
}

// responsive

@media screen and (max-width: 1200px) {
    .privacy {
        padding: 128px 0 64px;
    }
    .privacy_head_text {
        width: 100%;
    }
}