header {
  position: fixed;
  width: 100%;
  height: 92px;
  background-color: #1C1E53;
  z-index: 100;
}

.header_flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_menu_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.hamburger_menu {
  display: none;
}

#main_menu ul {
  display: flex;
  gap: 12px;
}
#main_menu ul li {
  transition: all 0.2s ease;
}
#main_menu ul li a {
  display: block;
  font-weight: 500;
  line-height: 28px;
  color: white;
  position: relative;
  padding: 10px;
}
#main_menu ul li a:hover {
  color: #FCD980;
}

#header_contact_btn {
  display: block;
  font-weight: 500;
  line-height: 28px;
  color: white;
  padding: 16px 48px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
}
#header_contact_btn:hover {
  background-color: rgba(244, 246, 252, 0.2);
}

.arrow_btn {
  display: block;
  position: relative;
  font-weight: 500;
  line-height: 28px;
  color: white;
}
.arrow_btn::before {
  content: "";
  position: absolute;
  top: 13px;
  right: -41px;
  width: 24px;
  border-top: 2px solid #F4F6FC;
  transition: all 0.2s ease;
}
.arrow_btn:after {
  content: "";
  height: 7px;
  width: 7px;
  transform: rotate(-135deg);
  position: absolute;
  top: 11px;
  right: -41px;
  border-bottom: 2px solid #F4F6FC;
  border-left: 2px solid #F4F6FC;
  transition: all 0.2s ease;
}
.arrow_btn:hover {
  color: #FCD980;
}
.arrow_btn:hover::before, .arrow_btn:hover::after {
  border-color: #FCD980;
  transform: translateX(30px);
}
.arrow_btn:hover::after {
  transform: translateX(30px) rotate(-135deg);
}

#side_block {
  display: block;
  width: 320px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #5474fd;
  padding: 20px;
  height: 100vh;
  z-index: 2000;
  -webkit-transform: translate(-320px);
  -ms-transform: translate(-320px);
  transform: translate(-320px);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#side_block.open {
  -webkit-transform: translate(0px);
  -ms-transform: translate(0px);
  transform: translate(0px);
}

#page_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1500;
}
#page_overlay.open {
  display: block;
}

#mobile_menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.mobile_menu_list li {
  margin-bottom: 20px;
  text-align: center;
}
.mobile_menu_list li a {
  font-size: 22px;
  color: #fff;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: #fff;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  background-color: #fff;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

@media screen and (max-width: 1000px) {
  #main_menu {
    display: none;
  }

  .main_menu_wrap .hamburger_menu {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  #header_contact_btn {
    display: none;
  }
}