
@import '@/assets/css/vars.scss';

header {
	position: fixed;
	width: 100%;
	height: 92px;
	background-color: $tint-blue;
	z-index: 100;
}

.header_flex {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_menu_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 35px;
}

.hamburger_menu {
	display: none;
}

#main_menu ul {
	display: flex;
	gap: 12px;
	li {
		transition: all .2s ease;
		a {
			display: block;
			font-weight: 500;
			line-height: 28px;
			color: white;
			position: relative;
			padding: 10px;
			&:hover {
				color: $yellow;
			}
		}
	}
}

.header_contact_btn {
	display: block;
	font-weight: 500;
	line-height: 28px;
	color: white;
	padding: 16px 48px;
	border: 2px solid rgba(244, 246, 252, 0.2);
	border-radius: 41px;
	&:hover {
		background-color: rgba(244, 246, 252, 0.2);
	}
}



// burger

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */


 .hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: #fff;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; }
	.hamburger:hover {
	  opacity: 0.7; }
	.hamburger.is-active:hover {
	  opacity: 0.7; }
	.hamburger.is-active .hamburger-inner,
	.hamburger.is-active .hamburger-inner::before,
	.hamburger.is-active .hamburger-inner::after {
	  background-color: #fff; }
  
  .hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative; }
  
  .hamburger-inner {
	display: block;
	top: 50%;
	background-color: #fff;
	margin-top: -2px; }
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	  width: 40px;
	  height: 4px;
	  background-color: #fff;
	  border-radius: 4px;
	  position: absolute;
	  transition-property: transform;
	  transition-duration: 0.15s;
	  transition-timing-function: ease; }
	.hamburger-inner::before, .hamburger-inner::after {
	  content: "";
	  display: block; }
	.hamburger-inner::before {
	  top: -10px; }
	.hamburger-inner::after {
	  bottom: -10px; }
  
  /*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
	transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
	transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
	transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }



// responsive 
// header

#side_block {
  display: block;
  width: 320px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #5474fd;
  padding: 20px;
  height: 100vh;
  z-index: 2000;
  transform: translate(-320px);
  transition: all .2s ease;
  &.open {
  transform: translate(0px);
  }
}

#page_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: .7);
  display: none;
  z-index: 1500;
  &.open {
	  display: block;
  }
}

#mobile_menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.mobile_menu_list li {
  margin-bottom: 20px;
  text-align: center;
  a {
	  font-size: 22px;
	  color: #fff;
  }
}

.header_btn {
  display: block;
  background-color: transparent;
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 28px;
  color: white;
  padding: 16px 48px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  &:hover {
	  background-color: rgba(244, 246, 252, 0.2);
  }
}

@media screen and (max-width: 1000px) {
	#main_menu {
		display: none;
	}
	.main_menu_wrap .hamburger_menu {
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.header_contact_btn {
		display: none;
	}
	.mobile_contact_btn {
	  display: block;
	}
}